{% extends 'base.html.twig' %}

{% block title %}Panier - Stubborn{% endblock %}

{% block body %}
    <h1>Panier</h1>

    <p>Votre panier est vide pour l'instant.</p>

    <a href="{{ path('app_products') }}">Continuer mes achats</a>
{% endblock %}