body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
/* Main container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Featured products section */
.products {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;

}

.card {
    border: 1px solid #ddd;
    padding: 70px;
    text-align: left;
    min-width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.card p {
    margin: 5px 0;
    color: #666;
}

.price-button {
    display: flex; /* Met le prix et le bouton sur la même ligne */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: space-between;
}
.button{
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: black;
    color: white;
}